USE [Marbale]
GO
/****** Object:  Table [dbo].[AppModule]    Script Date: 3/29/2020 7:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [dbo].[AppModule]
CREATE TABLE [dbo].[AppModule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Module] [varchar](50) NULL,
	[Root] [varchar](50) NULL,
	[Page] [varchar](50) NULL,
	[URL] [varchar](500) NULL,
	[Active] [bit] NULL,
	[DisplayOrder] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleModuleAction]    Script Date: 3/29/2020 7:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [dbo].[RoleModuleAction]
CREATE TABLE [dbo].[RoleModuleAction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[PageId] [int] NULL,
	[Page] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/29/2020 7:50:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [dbo].[User]
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[LoginId] [varchar](100) NULL,
	[Password] [image] NULL,
	[RoleId] [int] NULL,
	[Status] [varchar](max) NULL,
	[POSCounter] [varchar](500) NULL,
	[PasswordChangeDate] [datetime] NULL,
	[InvalidAttempts] [int] NULL,
	[Email] [varchar](200) NULL,
	[CompanyAdmin] [bit] NULL,
	[Department] [varchar](200) NULL,
	[Manager] [varchar](200) NULL,
	[EmpStartDate] [datetime] NULL,
	[EmpEndDate] [datetime] NULL,
	[EmpEndReason] [varchar](200) NULL,
	[LastLogInTime] [datetime] NULL,
	[LastLogOutTime] [datetime] NULL,
	[CreatationDate] [datetime] NULL,
	[CreatedBy] [varchar](500) NULL,
	[LastUpdatedBy] [varchar](500) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 3/29/2020 7:50:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [dbo].[UserRole]
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](500) NULL,
	[Description] [varchar](max) NULL,
	[ManagerFlag] [bit] NULL,
	[AllowPOSAccess] [bit] NULL,
	[POSClockInOut] [bit] NULL,
	[AllowShiftOpenClose] [bit] NULL,
	[LastUpdatedBy] [varchar](500) NULL,
	[LastUpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppModule] ON 

INSERT [dbo].[AppModule] ([Id], [Module], [Root], [Page], [URL], [Active], [DisplayOrder]) VALUES (31, N'Management Studio', N'Product', N'Products', N'/Product/Index', 1, 1)
INSERT [dbo].[AppModule] ([Id], [Module], [Root], [Page], [URL], [Active], [DisplayOrder]) VALUES (32, N'Management Studio', N'Product', N'Discounts', N'/Discount/Index', 1, 2)
INSERT [dbo].[AppModule] ([Id], [Module], [Root], [Page], [URL], [Active], [DisplayOrder]) VALUES (33, N'Management Studio', N'Product', N'Tax', N'/Tax/Index', 1, 3)
SET IDENTITY_INSERT [dbo].[AppModule] OFF

SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [Role], [Description], [ManagerFlag], [AllowPOSAccess], [POSClockInOut], [AllowShiftOpenClose], [LastUpdatedBy], [LastUpdatedDate])
 VALUES (1, N'SuperUser', N'Super user Role', 1, 1, 1, 1, N'Harish', CAST(N'2020-03-29T07:36:37.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRole] OFF

ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRole] ([Id])


SET IDENTITY_INSERT [dbo].[RoleModuleAction] ON 

INSERT [dbo].[RoleModuleAction] ([Id], [RoleId], [PageId], [Page]) VALUES (69, 1, 31, N'Products')
INSERT [dbo].[RoleModuleAction] ([Id], [RoleId], [PageId], [Page]) VALUES (70, 1, 32, N'Discounts')
INSERT [dbo].[RoleModuleAction] ([Id], [RoleId], [PageId], [Page]) VALUES (71, 1, 33, N'Tax')
SET IDENTITY_INSERT [dbo].[RoleModuleAction] OFF

SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
