USE [Marbale]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 4/5/2020 5:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [dbo].[Settings]
CREATE TABLE [dbo].[Settings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[DefaultValue] [varchar](200) NULL,
	[Type] [varchar](100) NULL,
	[ScreenGroup] [varchar](50) NULL,
	[Active] [bit] NULL,
	[UserLevel] [bit] NULL,
	[PosLevel] [bit] NULL,
	[Protected] [bit] NULL,
	[LastUpdatedBy] [varchar](100) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[Caption] [varchar](250) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 

INSERT [dbo].[Settings] ([ID], [Name], [Description], [DefaultValue], [Type], [ScreenGroup], [Active], [UserLevel], [PosLevel], [Protected], [LastUpdatedBy], [LastUpdatedDate], [Caption]) VALUES (571, N'Card_Reader_VID', N'Card Reader VID', N'FFF', N'string', N'POS', 0, 1, 1, 1, NULL, NULL, N'Card Reader VID')
INSERT [dbo].[Settings] ([ID], [Name], [Description], [DefaultValue], [Type], [ScreenGroup], [Active], [UserLevel], [PosLevel], [Protected], [LastUpdatedBy], [LastUpdatedDate], [Caption]) VALUES (148, N'PREFERRED_NON-CASH_PAYMENT_MODE', N'Preferred non-cash payment mode in POS', N'true', N'bool', N'', 1, NULL, NULL, NULL, NULL, NULL, N'Preferred non-cash payment mode in POS')
INSERT [dbo].[Settings] ([ID], [Name], [Description], [DefaultValue], [Type], [ScreenGroup], [Active], [UserLevel], [PosLevel], [Protected], [LastUpdatedBy], [LastUpdatedDate], [Caption]) VALUES (264, N'CRM_SMS_USERNAME', N'CRM SMS Login Username', N'true', N'bool', N'', 1, NULL, NULL, NULL, NULL, NULL, N'CRM SMS Login Username')
GO
SET IDENTITY_INSERT [dbo].[Settings] OFF
