/Marbale.Admin/bin/Debug
/Marbale.Business/bin/Debug
/Marbale.DataAccess/bin/Debug
/Marbale.POS/bin/Debug
/Marbale.ViewModel/bin/Debug
/obj
/Marbale.ManagementStudio/bin
/Marbale.Business/obj/Debug
/Marbale.Business/bin
/Marbale.BusinessObject/obj/Debug
/Marbale.DataAccess/obj/Debug
/Marbale.Inventory/obj/Debug
/Marbale.KeyGen/obj/Debug
/Marbale.ManagementStudio/obj/Debug
/Marbale.POS/obj/Debug
/Marble.PrimaryServer/obj/Debug
/SiteConfiguaration/obj/Debug
/Marbale.Reports/bin
/Marbale.Reports/obj/Debug
/Marbale.BusinessObject/bin/Debug
/.vs/Marbale/v15
/Marble.WebReports/bin
