@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*.highlight {
        border: 2px solid blue;
        background-color: #7774b0;
    }*/
</style>
<div class="config2">
    <div class="panel panel-default">
        <div id="Tabs" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <button id="values" onclick="getValues()" aria-controls="personal" role="tab" data-toggle="tab" class="tblev tabstyle" style="width: 50%;">Values</button>
                <button id="settings" aria-controls="employment" onclick="getSettings()" role="tab" data-toggle="tab" class="tblev tabstyle" style="width: 50%;">Settings</button>
            </ul>
            <!-- Tab panes -->

        </div>
    </div>
</div>
<div id="container1">
</div>

<script>
    $(document).ready(function () {
        if (isEmpty($('#container1'))) {
            getValues();
        }
    });
    function isEmpty(el) {
        return !$.trim(el.html())
    }
    function getValues() {
        $('#loading').show();
        $('#container1').load('/SiteSetup/Values');
        $('#values').addClass('highlight');
        $('#settings').removeClass('highlight');
    }
    function getSettings() {
        $('#loading').fadeIn();
        //$('#container1').load('/SiteSetup/Settings');

        $("#container1").load('/SiteSetup/Settings', function (responseTxt, statusTxt, xhr) {
            if (statusTxt == "success") {
                LoadValueDatas();
            }
                
            if (statusTxt == "error") {
                alert("Error: " + xhr.status + ": " + xhr.statusText);
            }
                
        });


        $('#loading').fadeOut();
        $('#settings').addClass('highlight');
        $('#values').removeClass('highlight');
    }
    $('.tablinks').click(function () {
        $(this).addClass('buttoncolor-change').siblings().removeClass('buttoncolor-change');
    });
    $('.tblev').click(function () {
        $(this).addClass('tble').siblings().removeClass('tble');
    });
</script>
