
@{
    ViewBag.Title = "LookUps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'paymentMode')">Payment Mode</button>
    <button class="tablinks" onclick="openTab(event, 'sequence')">Sequence</button>
    <button class="tablinks" onclick="openTab(event, 'lookups')">Lookups</button>
</div>
<script>
function openTab(evt, action) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>


