@{
    ViewBag.Title = "LookUps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tab">
    <button id="lookupData" class="tablinks" onclick="getLookups()">Lookups</button>
    <button class="tablinks" onclick="getPaymentMode()">Payment Mode</button>
    <button class="tablinks" onclick="getSequence()">Sequence</button>
</div>
<div id="tabBody">
</div>
<script>
    $(document).ready(function () {
        $("#lookupData").addClass('buttoncolor-change').siblings().removeClass('buttoncolor-change');
        getLookups();
    })
    function getLookups() {
        $('#tabBody').load('/SiteSetup/LookUpData');
    }
    function getPaymentMode() {
        $('#tabBody').load('/SiteSetup/PaymentMode');
    }
    function getSequence() {
        $('#tabBody').load('/SiteSetup/Sequence');
    }
    $('.tablinks').click(function () {
        $(this).addClass('buttoncolor-change').siblings().removeClass('buttoncolor-change');
    });
</script>


