@{
    Layout = null;
}
<button class="tablinks" id="postab" onclick="getposdetails()">POS</button>
<button class="tablinks" id="cardtab" onclick="getCardDetails()">Card</button>
<button class="tablinks" id="limittab" onclick="getLimitDetails()">Limits</button>
<button class="tablinks" id="Transactiontab" onclick="getTransactionDetails()">Transaction</button>
</br><br /><br /><br />
<div id="valuesContainer">
    
</div>
<script>
    $(document).ready(function () {
        $('#loading').show();
        getposdetails();
        $("#postab").addClass('buttoncolor-change').siblings().removeClass('buttoncolor-change');
        $('#loading').hide();
    })
    function getTransactionDetails() {
        $('#valuesContainer').load('/SiteSetup/Transaction', { ValType: 'Transaction' });
    }
    function getLimitDetails() {
        $('#valuesContainer').load('/SiteSetup/Limit', { ValType: 'Limit' });
    }
    function getposdetails() {
        $('#loading').show();
        $('#valuesContainer').load('/SiteSetup/POS', { ValType: 'pos' });
        $('#loading').hide();
    }
    function getCardDetails() {
        $('#valuesContainer').load('/SiteSetup/Card');
    }
    $('.tablinks').click(function () {
            $(this).addClass('buttoncolor-change').siblings().removeClass('buttoncolor-change');
        });
</script>
<style>

      .tablinks {
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
      .buttoncolor-change {
            background-color: cornflowerblue;
        }
    .valuesContainer {
        position: absolute;
   
    left: 350px;
    width: 655px;
  
    }
 
</style>