
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <!-- form card change password -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Change Password</h3>
                        </div>
                        <div class="card-body">
                            @if (@ViewBag.Message != null)
                            {
                                <div style="color: red">
                                    @ViewBag.Message
                                </div>
                            }
                            <form class="form" action="/Marble/UpdatePassword" method="post">
                                <div class="form-group">
                                    <label>Current Password</label>
                                    <input id="currentPassword" type="password" class="form-control" title="currentPassword" required name="currentPassword">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input id="field_pwd1"  class="form-control" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers." type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="newPassword">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="field_pwd2" title="Please enter the same Password as above." type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confirmNewPassword">
                              
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $('form').submit(function () {
            if (this.currentPassword.value == "") {
                alert("Error: Current Password cannot be blank!");
                this.currentPassword.focus();
                return false;
            }
            if (this.newPassword.value != "" && this.newPassword.value == this.confirmNewPassword.value) {
                if (!checkPassword(this.newPassword.value)) {
                    alert("The password you have entered is not valid!");
                    this.newPassword.focus();
                    return false;
                }
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                this.newPassword.focus();
                return false;
            }
        });
</script>