USE [Marbale]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/7/2019 3:12:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[DefaultValue] [varchar](200) NULL,
	[Type] [varchar](100) NULL,
	[ScreenGroup] [varchar](50) NULL,
	[Active] [bit] NULL,
	[UserLevel] [bit] NULL,
	[PosLevel] [bit] NULL,
	[Protected] [bit] NULL,
	[LastUpdatedBy] [varchar](100) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [varchar](250) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Settings] ON 
GO
INSERT [dbo].[Settings] ([Name], [Description], [DefaultValue], [Type], [ScreenGroup], [Active], [UserLevel], [PosLevel], [Protected], [LastUpdatedBy], [LastUpdatedDate], [ID], [Caption]) VALUES (N'CARD_FACE_VALUE', N'Price of a Card', N'80', N'int', N'card', 1, 1, 1, NULL, N'Harish', CAST(N'2019-03-03T08:36:42.583' AS DateTime), 1, N'Price of a Card')
GO
INSERT [dbo].[Settings] ([Name], [Description], [DefaultValue], [Type], [ScreenGroup], [Active], [UserLevel], [PosLevel], [Protected], [LastUpdatedBy], [LastUpdatedDate], [ID], [Caption]) VALUES (N'TOKEN_PRICE', N'Price of 1 Token', N'10', N'string', N'price', 1, 0, 0, NULL, N'Harish', CAST(N'2019-06-09T09:34:30.840' AS DateTime), 2, N'Price of 1 Token')
GO
INSERT [dbo].[Settings] ([Name], [Description], [DefaultValue], [Type], [ScreenGroup], [Active], [UserLevel], [PosLevel], [Protected], [LastUpdatedBy], [LastUpdatedDate], [ID], [Caption]) VALUES (N'POS_CARD_READER_BAUDRATE', N'Card Reader COM Port Baudrate', N'2', N'int', N'pos', 1, 1, 1, NULL, N'Harish', CAST(N'2019-03-03T01:03:45.437' AS DateTime), 3, N'Card Reader COM Port Baudrate')
GO
SET IDENTITY_INSERT [dbo].[Settings] OFF
GO
