@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav nav-tabs">
    <li><a href="#Run" data-toggle="tab">Run </a></li>
    <li><a href="#Schedule" data-toggle="tab">Schedule </a></li>
    <li><a href="#Managment" data-toggle="tab">Management </a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="Run">
        <div class="dateFilterContainer">
            <span class="dateFilter">Date Filter</span>
            <div style="margin-top: 10px">
                <label class="dateFilterLable">From Date Time</label>
                <div class="controls input-append date form_datetime dateFilter" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input size="16" type="text" value="">
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br />
            </div>
            <div style="margin-top: -10px">
                <label class="dateFilterLable">To Date Time</label>
                <div class="controls input-append date form_datetime dateFilter" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input size="16" type="text" value="">
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" /><br />
            </div>
        </div>
        <div id="menu" class="menu">
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Attendnce()">Attendnce</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Adit()">Adit</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Cards()">Cards</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="CheckIn-CheckOut()">CheckIn-CheckOut</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="GamePlay()">Game Play</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Inventory()">Inventory</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Loyalty()">Loyalty</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Maintenance()">Maintenance</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Miscellaneous()">Miscellaneous</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Others()">Others</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Redemption()">Redemption</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="Transaction()">Transaction</button>
            <button class="btn btn-primary btn-md menuItems" role="button" onclick="All()">All</button>

        </div>
    </div>
    <div class="tab-pane" id="Schedule">Schedule</div>
    <div class="tab-pane" id="Managment">Managment</div>
</div>
<script>
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>