@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li><a href="#" onclick="Run()">Run</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Management</a></li>
</ul>
<script>
    function Run() {

    }
    function Schedule() {
    }
    function Management() {
    }
</script>

