@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/css/product.css" rel="stylesheet" />*@
<link href="~/Content/CSS/StyleSheet1.css" rel="stylesheet" />
<div class="container">
    <div class="holder">
        <h1><b>Choose by product type</b></h1>
        <button class="button large" onclick="location.href='/product/productsetup'">Cards</button>
        <button class="button large" onclick="location.href='/product/noncardProductSetup'">Non Card Product</button>
    </div>
     <div class="holder sub">
         <h1 style="margin-top: 18px;">Set up</h1>
        <button class="button medium" onclick="location.href='/product/Types'">Product Type</button>
        <button class="button medium" onclick="location.href='/product/Category'">Product Category</button>
        <button class="button medium" onclick="location.href='/product/DisplayGroup'">Display Group</button>
    </div>
</div>

