@{
    ViewBag.Title = "ProductsMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/content/css/marbalestyle.css")" rel="stylesheet"/>

<div class="container">
    <div class="panel panel-primary pbody">
      <div class="panel-heading heading">Chose by product type</div>
      <div class="panel-body body">
          <a href="/product/productsetup" class="btn btn-primary btn-md" role="button">Cards</a>
          <a href="http://google.co.in" class="btn btn-primary btn-md" role="button">Non Card Sales</a>
          <a href="http://google.co.in" class="btn btn-primary btn-md" role="button">Combo</a>
          <a href="http://google.co.in" class="btn btn-primary btn-md" role="button">Bookings</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading heading">Set up</div>
      <div class="panel-body body">
          <a href="#">Product Type</a>
          <a href="#">Product Category</a>
          <a href="#">Product Modifiers</a>
      </div>
    </div>
  
</div>
