
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout_main.cshtml";
}

<style>
    .h11{
        /*min-height:500px;*/
    }

  
     
</style>
<div class="h11">
    <h2>Index1</h2>
</div>


