USE [Marbale]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProducyKey]    Script Date: 6/6/2020 8:02:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Alter PROCEDURE [dbo].[sp_GetProductKey]
@SiteId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select p.SiteKey,p.LicenseKey,p.site_id,p.Id,s.MaxCards from productKey p join Site s on s.SiteId = p.site_id where p.site_id = @SiteId
END
