<!DOCTYPE html>
<html>
<head>
    <title>Marbale Dashboard</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.css">
    <link href="~/Content/CSS/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Material/meterialIcon.css" rel="stylesheet" />
    <link href="~/Content/DatetimePicker/jquery.datepicker2.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/Content/CSS/style.css">
    <link rel="stylesheet" href="~/Content/CSS/layout.css">
    @*<link href="~/Content/CSS/StyleSheet1.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/JS/jquery.dataTables.min.js"></script>
    <script src="~/Content/JS/dataTables.fixedColumns.min.js"></script>
    <script src="~/Content/DatetimePicker/jquery.datepicker2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/JS/bootstrap.min.js"></script>

    <script src="~/Content/JS/popper.min.js"></script>
    <script defer src="~/Content/JS/fontawesome.solid.js"></script>
    <script defer src="~/Content/JS/fontawesome.js"></script>

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <h3>Marbale Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Product</a>
                    <ul class="collapse list-unstyled" id="productSubmenu">
                        <li>
                            <a href="/product">Products</a>
                        </li>
                        <li>
                            <a href="/discount" id="disc">Discounts</a>
                        </li>
                        <li>
                            <a href="/Tax/Index">Tax</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#gameSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Communication</a>
                    <ul class="collapse list-unstyled" id="gameSubmenu">
                        <li>
                            <a href="/game/hubs">Hubs</a>
                        </li>
                        <li>
                            <a href="/game/profiles">Game Profile</a>
                        </li>
                        <li>
                            <a href="/game/games">Games</a>
                        </li>
                        <li>
                            <a href="/game/machines">Machines</a>
                        </li>
                        <li>
                            <a href="#" id="configuration">Configuration</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#siteSetupSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Site Setup</a>
                    <ul class="collapse list-unstyled" id="siteSetupSubmenu">
                        <li>
                            <a href="/SiteSetup/configuration" id="config">Configaration</a>
                        </li>
                        <li>
                            <a href="/SiteSetup/sites" id="site">Site</a>
                        </li>
                        <li>
                            <a href="/SiteSetup/users" id="users">Users</a>
                        </li>
                        <li>
                            <a href="/SiteSetup/userRoles" id="userRole">User Roles</a>
                        </li>
                        <li>
                            <a href="/SiteSetup/Messages">Messages</a>
                        </li>
                        <li>
                            <a href="/TaskType/TaskType/TaskType">Task-Type</a>
                        </li>
                        <li>
                            <a id="productKey" data-target="#myModal">Product Key</a>
                        </li>
                        <li>
                            <a href="/SiteSetup/printer">Printer</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenucards" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cards</a>
                    <ul class="collapse list-unstyled" id="pageSubmenucards">
                        <li>
                            <a href="/Cards/ViewCards" id="viewcard">View Card</a>
                        </li>
                        <li>
                            <a id="newcards">New Cards</a>
                        </li>
                        <li>
                            <a href="/Cards/Inventory">Inventory</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="Content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <b style="margin-left: 20px; font-family: sans-serif;">@ViewBag.Title</b>
                    </div>
                </div>
            </nav>

            <div id="pageContent">
                <div id="container" class="pageContent">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-centre">
            <div id="modelBody" class="modal-content">
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
        $('#inventery').click(function () {
            $(".modal-body").html("");
            $('#newcardmodel .modal-Content').css('height', 590);
            $('#newcardmodel .modal-Content').css('width', 719);
            $('#newupdatecardmodal').text("Inventory").addClass('modal-centre');
            $('#newcardmodel').modal('show');

            $('#modelbody').load('/Cards/Inventory');
        });
        $('#newcards').click(function () {
            $('#myModal').modal('show');
            $('#modelBody').css({
                'left': '-30%',
                'width': 900
            });
            $('#modelBody').load('/Cards/Cards');
        });
        $('#configuration').click(function () {
            $('#myModal').modal('show');
            $('#modelBody').css({
                'left': '-30%',
                'width': 800,
            });
            $('#modelBody').load('/game/configuration');

        });
        $('#productKey').click(function () {
            $('#myModal').modal('show');
            $('#modelBody').load('/siteSetup/ProductKey');
        });
        $("#myModal").draggable({
            handle: ".modal-header"
        });
    </script>

</body>
</html>
