#container {
}

#pageSubmenu li {
    width: 100%;
    height: 100%;
}


.formTable td {
    border: none;
}

.gridText {
    border-style: none;
}

.userRoleTbl {
    width: 820px;
    float: left;
}

.action {
    position: absolute;
    bottom: 20px;
}

.actionTreeHeader {
    font-family: inherit;
    margin-left: 15px;
    font-weight: 700;
    color: white;
}

.k-treeview .k-checkbox-label {
    margin-left: 5px;
    top: 5px;
}

.k-treeview .k-item {
    background-color: beige;
}

.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-widget {
    color: #444;
    background-color: steelblue !important;
}

.userModuleAccess {
    width: 250px;
    float: right;
}

div.second {
    width: 1060px;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding-bottom: 1px;
    height: 490px;
}

div.first {
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 491px;
    padding-bottom: 1px;
    position: absolute;
    left: 0;
    top: auto;
}

.headerCol {
    position: absolute;
    width: 14em;
    left: 20px;
    top: auto;
    border-right: 0px none black;
    border-top-width: 3px; /*only relevant for first row*/
    /*margin-top:-3px;*/ /*compensate for top border*/
}

/*Model PopUp CSS*/

button.btn-settings {
    margin: 25px;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #337ab7;
    color: white;
}

    button.btn-settings:active {
        color: white;
    }

.modal {
    overflow: hidden;
}

.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}

.modal-header {
    height: 30px;
    padding: 20px;
    background-color: #18456b;
    color: white;
}

.modal-title {
    margin-top: -10px;
    font-size: 16px;
}

.modal-header .close {
    margin-top: -25px;
    color: #fff;
}

.modal-centre {
    position: absolute;
    right: 440px;
    top: -20px;
}

.modal-body {
    padding: 5px 35px 20px;
}

    .modal-body h3 {
        text-align: center;
    }

    .modal-body p {
        padding-top: 10px;
        font-size: 1.1em;
    }
/*end*/

.dataTables_scrollBody {
    max-height: 400px !important;
}

.focusedRow {
    font-weight: bold;
    text-shadow: 1px 1px 0px #EEE;
    color: #111;
}

table.table td i {
    font-size: 18px;
}

td a.delete {
    color: #E34724 !important;
}

td a.edit {
    color: #7cab81 !important;
}

td a {
    cursor: pointer;
}

th {
    border: 1px solid #29d2da;
}

#marbaleTable th, td {
    white-space: nowrap;
}

table.DTFC_Cloned thead, table.DTFC_Cloned tfoot {
    background-color: #0ab1cc;
}

thead {
    background-color: #0ab1cc;
}
