@import "/Content/CSS/fonts/font.css";

/* General Buttons */
/*button {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    position: relative;
    color: black !important;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-family: unset;
    font-size: 18px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;*/
    /* Just for presentation */
    /*display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}*/

    button:active {
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
        top: 1px;
    }

    button:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        opacity: 0.6;
        right: 0;
        top: 0;
        border-radius: 0 5px 5px 0;
    }

    .large {
        width: 225px !important;
        height: 60px;
        font-size: 20px;
    }

.medium {
    width: 180px !important;
    height: 50px;
    font-size: 17px;
    float: left;
}


/* Button pointing left */

button.back {
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
}

    button.back:after {
        content: "";
        width: 0;
        height: 0;
        display: block;
        border-top: 20px solid #187dbc;
        border-bottom: 20px solid #187dbc;
        border-right: 16px solid transparent;
        border-left: 20px solid #187dbc;
        position: absolute;
        opacity: 0.6;
        left: 0;
        top: 0;
        border-radius: 5px 0 0 5px;
    }

/* Single buttons */

button.site {
    text-align: center;
    text-indent: 0;
}

    button.site:after {
        display: none;
    }





/* Presentation stuff */
.holder {
    /*width: 400px;*/
    background: #efefef;
    padding: 30px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.sub {
    background: #a8c7b41a;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-right: 40px;*/
}

h1 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 22px;
    text-transform: uppercase;
    color: #999;
    text-shadow: 1px 1px 1px #fff;
    margin-bottom: 30px;
}
