
@{
    ViewBag.Title = "NewCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="newCard"></div>
 

<script>

    $(document).ready(function () {
        $('#newCard').load('/Cards/NewCardPartial');
    });

    
</script>